#info {
	position: absolute;
	top: 2%;
	width: 100%;
	padding: 10px;
	text-align: center;
	color: #ff0000;
}
#body {
	position: absolute;
	overflow:hidden;
	-webkit-user-select: none;
}
#topView {
	position: absolute;
	border-radius: 100px;
	top: 5%;
	left : 25%;
}
#thirdPV {
	position: absolute;
	border-radius: 100px;
	top: 5%;
	left : 5%;
}
#firstPV {
	position: absolute;
	border-radius: 100px;
	top: 5%;
	left : 15%;
}
#CCW {
	position: absolute;
	border-radius: 100px;
	top: 5%;
	left : 95%;
}
#zoomIn {
	position: absolute;
	border-radius: 100px;
	top: 15%;
	left : 95%;
}
#zoomOut {
	position: absolute;
	border-radius: 100px;
	top: 25%;
	left : 95%;
}